<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ user.name }}'s Watchlist</title>{#{{这里放变量}}#}
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
	<h2>{{ user.name }}'s Watchlist</h2>
	{# 使用 length 过滤器获取 movies 变量的长度 #}
	 <img src="{{ url_for('static', filename='little.jpg') }}"> -->
	<!-- <h2>
		<img alt="Avatar" src="{{ url_for('static', filename='images/little.jpg') }}">{{ name }}'s Watchlist
	</h2>
	 -->
	<!-- <h2>
		<img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">
		{{user.name }}'s Watchlist
	</h2>

	
	<p>{{ movies|length }} Titles</p>  {#过滤器语法：{{变量|过滤器}}#}
	<ul class="movie-list">
		{% for movie in movies %} {# 迭代 movies 变量 #}{#这里放注释#}
		<li>{{ movie.title }} - {{ movie.year }}</li> {# 等同于movie['title'] #}
		{% endfor %} {# 使用 endfor 标签结束 for 语句 #}{#{%这里标记语句，如for语句，if语句等%}#}
	</ul>

	<img alt="Walking Totoro" src="{{ url_for('static', filename='images/totoro.gif') }}">

	<footer>
		<small>&copy; 2021 <a href="http://helloflask.com/tutorial">HelloFlask</a></small>
	</footer>
</body>
</html> --> -->

{% extends 'base.html' %}
{% block content %}
<p>{{ movies|length }} Titles</p>
<ul class="movie-list">
	{% for movie in movies %}
	<li>{{ movie.title }} - {{ movie.year }}
		<span class="float-right">
			<a class="豆瓣" href="https://movie.douban.com/subject_search?search_text={{ movie.title }}" target="_blank" title="Find this movie on IMDb">
豆瓣</a>
		</span>
		<span class="float-center">
			<a class="哔哩哔哩" href="https://space.bilibili.com/151089620" target="_blank" title="Find this movie on bilibili">
哔哩哔哩</a>
		</span>
	</li>
	{% endfor %}
</ul>
<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~">


{% endblock %}

